<div class="row">
    <h4 style="text-align: center">
        <span id="AlbumPhotoBackward" class="glyphicon glyphicon-backward" aria-hidden="true" style="display: none" data-page=""></span>
        &nbsp;
        Album photos
        &nbsp;
        <span id="AlbumPhotoForward" class="glyphicon glyphicon-forward" aria-hidden="true" style="display: none" data-page=""></span>
    </h4>
    <div class="col-lg-12 albumPhotosBlock">
    </div>
</div>
