@model IEnumerable<PhotoManagerThreeLayer.ViewModels.AlbumListViewModel>

<div class="row" style="text-align: center">
    <h2 >Albums &nbsp; <a href='@Url.Action("Create", "Album")'><span class="glyphicon glyphicon-plus photoListView-anyOneCanSee" aria-hidden="true"></span></a>
    </h2>
    <hr />
    @foreach (var item in Model)
    {
        <div class="col-lg-3 albumCover">
            <a href='@Url.Action("Details", "Album", new {id = item.Id})'>
                @if (item.ImageId != null)
                {
                    <img src="@Url.Action("GetAlbumImage", new { id = item.ImageId})" class="albumCoverImage" />
                }
                else
                {
                    <img src="./../../Content/AlbumPlaceholder.jpg" class="albumCoverImage" alt="Album cover not selected"/>
                }
                <h4>@item.Title</h4>
            </a>
        </div>
    }
</div>