@model PhotoManagerThreeLayer.ViewModels.PhotoCommentViewModel
<div class="row">
    <hr>
    <div class="col-lg-2">@Html.DisplayFor(x => Model.Created)&nbsp;(@Model.Author)</div>
    <div class="col-lg-10">@Model.Text</div>
</div>