@model List<PhotoManagerThreeLayer.ViewModels.PhotoListViewModel>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            @Html.Partial("_AlbumPhotoListItem", item)
        </div>
    }
</div>
