body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000000;
    color: #4caf50;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #3f3131;
    border-color: #080808;
}

.albumCover {
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    background-color: #211b1b;
    margin: 10px
}

.photoListItem {
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    background-color: #211b1b;
    margin: 10px;
    text-align: left
}

.albumCoverImage {
    object-fit: cover;
    width: 260px;
    height: 260px;
}

.photoListView-anyOneCanSee {
    font-size: 20px;
    margin-right: 20px;
}

.photoListView-anyOneCanSee-false-icon {
    font-size: 20px;
    margin-right: 20px;

}

.photoListView-anyOneCanSee-false {
    color: red
}
