@model PhotoManagerThreeLayer.ViewModels.PhotoListViewModel
<div class="photoListItem">
    @Model.Title
    &nbsp;
    <a class="action" data-id="@Model.Id" href=""><span class="glyphicon" aria-hidden="true"></span></a>
    <img src="@Url.Action("GetPhotoImage", "Photo", new { id = Model.SmallImageId})" class="photoCoverImage" alt="@Model.Title small image" />
</div>
