@model PhotoManagerThreeLayer.ViewModels.PhotoListViewModel
<div class="photoListItem">
    <input type="checkbox" class="photoSelect" id="@Model.Id" />
    @Model.Title
    <img src="@Url.Action("GetPhotoCoverImage", "Photo", new { id = Model.SmallImageId})" class="photoCoverImage" alt="@Model.Title small image" />
</div>
